@page
@using Microsoft.AspNetCore.Authorization;
@using InpremClockingApp.Models
@model BackOfficeModel
@attribute [Authorize]
@{
    ViewData["Title"] = "Home page";
}

<div class="content-wrapper">
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Dashboard</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item active"></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      @*<div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>

            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>

            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

        <div class="card card-primary card-outline">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>

            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>*@
      <div class="col-md-4">
        <div class="card card-primary card-outline">
            <div class="card-header">
              <h5 class="m-0">Staff</h5>
            </div>
            <div class="card-body">
              <h6 class="card-title">Total: @Model.Dashboard!.StaffCount</h6>
              <br>
              <h6 class="card-title">Working Time: @Model.Dashboard!.StaffClocking</h6>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card card-success card-outline">
          <div class="card-header">
            <h5 class="m-0">Volunteer</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">Total: @Model.Dashboard!.VolunteerCount</h6>
            <br>
            <h6 class="card-title">Working Time: @Model.Dashboard!.VolunteerClocking</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-danger card-outline">
          <div class="card-header">
            <h5 class="m-0">Admins</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">Total: @Model.Dashboard!.AdminCount</h6>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
